body {
    background: cornsilk;
    
    margin: 0;
    font-family: 'Yellowtail', cursive;
    
    font-size: 15px;
    line-height: 2;
    color: tomato;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}


.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.intro {
width: 100%;
    height: 100vh;
    color: aliceblue
}