body {
    
    margin: 0;
    font-family: 'Gantari';
    
    font-size: 18px;
    font-weight: 1000;
    line-height: 2;
    color: tomato;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}
.intro_suptitle {
    font-family: 'Josefin';
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    width: 100%;
    height: 100vh;
    background: url("../images/tomato.jpg") center no-repeat;
    opacity: 0.1;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro_title {
    
}
.intro_inner {
    opacity: 1;
    width: 100%;
    margin: 0 auto;
}


.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 600;
    color: tomato;
}
.navigation {
    font-size: 14px;
    text-transform: uppercase
}

.nav_link {
    color: tomato;
    text-decoration: none;
    transition: color 0.5 linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    
}
.nav_link:hover {
    color: white
}
.nav_link:after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    display: none
}
.nav_link:hover:after {
    display: block;
}